#wa-compimage-j131u89h6cfnns {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j5jucmfe65861c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-j5jucmfe65861c {padding:40px 40px 40px 40px;}
#wa-compsubpage-j0zq1qgp85gysg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#adadad;padding:0px 0px 0px 0px;}
#wa-compsubpage-j0zq1qgp85gysg>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j0zq1qgp85gysg>.wa-container-vspacer {height:0px;}
#wa-compsubpage-j0zq6fnd68b6vc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-j0zq6fnd68b6vc>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j0zq6fnd68b6vc>.wa-container-vspacer {height:0px;}
#wa-comptext-j5jucmey63yvz4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j5jucmfe5r8gyg {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j5jucmfe63yrm0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j5jucmfe63ys8g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j5jucmfe63yxug {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-j5jucmfe63yrm0 {padding:10px 0px 0px 0px;}
#wa-container-j5jub8oz413jbc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jub8oz413jbc>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jub8oz413jbc>.wa-container-vspacer {height:0px;}
#wa-container-j5jub8p62l46iw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jub8p62l46iw>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jub8p62l46iw>.wa-container-vspacer {height:0px;}
#wa-container-j5jub8p62l48u8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jub8p62l48u8>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jub8p62l48u8>.wa-container-vspacer {height:0px;}
#wa-container-j5jub8p72l45r4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jub8p72l45r4>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jub8p72l45r4>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-j5jub8oz413jbc {background-color:#000000;}
#wa-container-wrapper-j5jub8p72l45r4 {background-color:#adadad;}
#wa-row-j0znxd4o6bgork {margin:0px 0px;}
#wa-row-j0znxd4o6bgork>div {padding: 0px 0px;}
#wa-row-j0zpymot6bgkww {margin:0px 0px;}
#wa-row-j0zpymot6bgkww>div {padding: 0px 0px;}
#wa-row-j0zpzhwy5i1nmo {margin:0px 0px;}
#wa-row-j0zpzhwy5i1nmo>div {padding: 0px 0px;}
#wa-row-j0zq1n065i0mu8 {margin:0px 0px;}
#wa-row-j0zq1n065i0mu8>div {padding: 0px 0px;}
#wa-row-j0zq2gx15i0nkw {margin:0px 0px;}
#wa-row-j0zq2gx15i0nkw>div {padding: 0px 0px;}
#wa-row-j0zq2stw800vf4>.wa-item-rowspacer {height:20px;}
#wa-row-j0zq5qv05i0ijk {margin:0px 0px;}
#wa-row-j0zq5qv05i0ijk>div {padding: 0px 0px;}
#wa-row-j0zq7e1d660os8>.wa-item-rowspacer {height:20px;}
#wa-row-j5jucmey47q4wo {margin:0px 0px;}
#wa-row-j5jucmey47q4wo>div {padding: 0px 0px;}
#wa-row-j5jucmey47q520 {margin:0px 0px;}
#wa-row-j5jucmey47q520>div {padding: 0px 0px;}
#wa-row-j5jucmey47q63c {margin:0px 0px;}
#wa-row-j5jucmey47q63c>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q57c {margin:0px 0px;}
#wa-row-j5jucmfe47q57c>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q5co {margin:0px 0px;}
#wa-row-j5jucmfe47q5co>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q68o {margin:0px 0px;}
#wa-row-j5jucmfe47q68o>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q7ko {margin:0px 0px;}
#wa-row-j5jucmfe47q7ko>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q9so {margin:0px 0px;}
#wa-row-j5jucmfe47q9so>div {padding: 0px 0px;}
#wa-row-j5jucmfe47qaoo {margin:0px 0px;}
#wa-row-j5jucmfe47qaoo>div {padding: 0px 0px;}
#wa-sub-container-j132iqyp5hjwds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyp5hjwds>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyp5hjwds>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyq5hjx5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyq5hjx5k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyq5hjx5k>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyr5hk08o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyr5hk08o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyr5hk08o>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cw6o6keg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cw6o6keg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cw6o6keg>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cy6o66ig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cy6o66ig>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cy6o66ig>.wa-container-vspacer {height:0px;}
#wa-sub-container-j5jub8p62l44zc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j5jub8p62l44zc>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j5jub8p62l44zc>.wa-container-vspacer {height:0px;}
#wa-sub-container-j5jub8p62l4fs8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:10px 10px 10px 10px;}
#wa-sub-container-j5jub8p62l4fs8>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j5jub8p62l4fs8>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-j5jucmey65elz4] .dropdown-menu {background-color:#000000;}
[id^=wa-compmenu-j5jucmey65elz4] .dropdown-menu > li > a:hover, [id^=wa-compmenu-j5jucmey65elz4] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-j5jucmey65elz4] .navbar-default {background-color:#000000; border-color:#000000; border-width:0px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-brand, [id^=wa-compmenu-j5jucmey65elz4].navbar-nav li a, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#ffffff;}
[id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#c7c7c7;}
[id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-nav > .open > a:focus {color:#7a7a7a; background-color:#e7e7e7;}
[id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0.501961) !important; border-color:#000000 !important;}
[id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-j5jucmey65elz4] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-j5jucmey65elz4].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-j5jucmey65elz4] .wa-srch-input {font-size:14px;}
[id^=wa-compmenu-j5jucmey65elz4].navbar-fixed-top .navbar {background-color:rgba(0,0,0,0.501961);}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j0znxd4o6bgork {margin:0px 0px;}
#wa-row-j0znxd4o6bgork>div {padding: 0px 0px;}
#wa-row-j0zpymot6bgkww {margin:0px 0px;}
#wa-row-j0zpymot6bgkww>div {padding: 0px 0px;}
#wa-row-j0zpzhwy5i1nmo {margin:0px 0px;}
#wa-row-j0zpzhwy5i1nmo>div {padding: 0px 0px;}
#wa-row-j0zq1n065i0mu8 {margin:0px 0px;}
#wa-row-j0zq1n065i0mu8>div {padding: 0px 0px;}
#wa-row-j0zq2gx15i0nkw {margin:0px 0px;}
#wa-row-j0zq2gx15i0nkw>div {padding: 0px 0px;}
#wa-row-j0zq5qv05i0ijk {margin:0px 0px;}
#wa-row-j0zq5qv05i0ijk>div {padding: 0px 0px;}
#wa-row-j5jucmey47q4wo {margin:0px 0px;}
#wa-row-j5jucmey47q4wo>div {padding: 0px 0px;}
#wa-row-j5jucmey47q520 {margin:0px 0px;}
#wa-row-j5jucmey47q520>div {padding: 0px 0px;}
#wa-row-j5jucmey47q63c {margin:0px 0px;}
#wa-row-j5jucmey47q63c>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q57c {margin:0px 0px;}
#wa-row-j5jucmfe47q57c>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q5co {margin:0px 0px;}
#wa-row-j5jucmfe47q5co>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q68o {margin:0px 0px;}
#wa-row-j5jucmfe47q68o>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q7ko {margin:0px 0px;}
#wa-row-j5jucmfe47q7ko>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q9so {margin:0px 0px;}
#wa-row-j5jucmfe47q9so>div {padding: 0px 0px;}
#wa-row-j5jucmfe47qaoo {margin:0px 0px;}
#wa-row-j5jucmfe47qaoo>div {padding: 0px 0px;}
#wa-sub-container-j5jub8p62l44zc {padding:0px 0px 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j0znxd4o6bgork {margin:0px 0px;}
#wa-row-j0znxd4o6bgork>div {padding: 0px 0px;}
#wa-row-j0zpymot6bgkww {margin:0px 0px;}
#wa-row-j0zpymot6bgkww>div {padding: 0px 0px;}
#wa-row-j0zpzhwy5i1nmo {margin:0px 0px;}
#wa-row-j0zpzhwy5i1nmo>div {padding: 0px 0px;}
#wa-row-j0zq1n065i0mu8 {margin:0px 0px;}
#wa-row-j0zq1n065i0mu8>div {padding: 0px 0px;}
#wa-row-j0zq2gx15i0nkw {margin:0px 0px;}
#wa-row-j0zq2gx15i0nkw>div {padding: 0px 0px;}
#wa-row-j0zq5qv05i0ijk {margin:0px 0px;}
#wa-row-j0zq5qv05i0ijk>div {padding: 0px 0px;}
#wa-row-j5jucmey47q4wo {margin:0px 0px;}
#wa-row-j5jucmey47q4wo>div {padding: 0px 0px;}
#wa-row-j5jucmey47q520 {margin:0px 0px;}
#wa-row-j5jucmey47q520>div {padding: 0px 0px;}
#wa-row-j5jucmey47q63c {margin:0px 0px;}
#wa-row-j5jucmey47q63c>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q57c {margin:0px 0px;}
#wa-row-j5jucmfe47q57c>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q5co {margin:0px 0px;}
#wa-row-j5jucmfe47q5co>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q68o {margin:0px 0px;}
#wa-row-j5jucmfe47q68o>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q7ko {margin:0px 0px;}
#wa-row-j5jucmfe47q7ko>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q9so {margin:0px 0px;}
#wa-row-j5jucmfe47q9so>div {padding: 0px 0px;}
#wa-row-j5jucmfe47qaoo {margin:0px 0px;}
#wa-row-j5jucmfe47qaoo>div {padding: 0px 0px;}
#wa-sub-container-j5jub8p62l44zc {padding:0px 0px 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j0znxd4o6bgork {margin:0px 0px;}
#wa-row-j0znxd4o6bgork>div {padding: 0px 0px;}
#wa-row-j0zpymot6bgkww {margin:0px 0px;}
#wa-row-j0zpymot6bgkww>div {padding: 0px 0px;}
#wa-row-j0zpzhwy5i1nmo {margin:0px 0px;}
#wa-row-j0zpzhwy5i1nmo>div {padding: 0px 0px;}
#wa-row-j0zq1n065i0mu8 {margin:0px 0px;}
#wa-row-j0zq1n065i0mu8>div {padding: 0px 0px;}
#wa-row-j0zq2gx15i0nkw {margin:0px 0px;}
#wa-row-j0zq2gx15i0nkw>div {padding: 0px 0px;}
#wa-row-j0zq5qv05i0ijk {margin:0px 0px;}
#wa-row-j0zq5qv05i0ijk>div {padding: 0px 0px;}
#wa-row-j5jucmey47q4wo {margin:0px 0px;}
#wa-row-j5jucmey47q4wo>div {padding: 0px 0px;}
#wa-row-j5jucmey47q520 {margin:0px 0px;}
#wa-row-j5jucmey47q520>div {padding: 0px 0px;}
#wa-row-j5jucmey47q63c {margin:0px 0px;}
#wa-row-j5jucmey47q63c>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q57c {margin:0px 0px;}
#wa-row-j5jucmfe47q57c>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q5co {margin:0px 0px;}
#wa-row-j5jucmfe47q5co>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q68o {margin:0px 0px;}
#wa-row-j5jucmfe47q68o>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q7ko {margin:0px 0px;}
#wa-row-j5jucmfe47q7ko>div {padding: 0px 0px;}
#wa-row-j5jucmfe47q9so {margin:0px 0px;}
#wa-row-j5jucmfe47q9so>div {padding: 0px 0px;}
#wa-row-j5jucmfe47qaoo {margin:0px 0px;}
#wa-row-j5jucmfe47qaoo>div {padding: 0px 0px;}
#wa-sub-container-j5jub8p62l44zc {padding:10px 10px 10px 10px;}
}
