#wa-compimage-j16jotjh451irk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j3nrn2kp6w3caw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-j3nrn2kp6w3caw {padding:40px 40px 40px 40px;}
#wa-compsubpage-j1336f0b5gwul4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-j1336f0b5gwul4>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j1336f0b5gwul4>.wa-container-vspacer {height:0px;}
#wa-compsubpage-j1336xxz450exc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#adadad;padding:0px 0px 0px 0px;}
#wa-compsubpage-j1336xxz450exc>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j1336xxz450exc>.wa-container-vspacer {height:0px;}
#wa-comptext-j1349clw3x8q28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j134bo5t6bcfew {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2k27dxiko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j3nrn2ko7dxj74 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2kp7dxjtk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2kp7dxot4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2kp7dyjcw {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-j3nrn2ko7dxj74 {padding:10px 0px 0px 0px;}
#wa-container-j3nmy7586gdgz4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nmy7586gdgz4>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nmy7586gdgz4>.wa-container-vspacer {height:0px;}
#wa-container-j3nmy75f6gdccg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nmy75f6gdccg>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nmy75f6gdccg>.wa-container-vspacer {height:0px;}
#wa-container-j3nmy75i6gdens {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nmy75i6gdens>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nmy75i6gdens>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-j3nmy7586gdgz4 {background-color:#000000;}
#wa-container-wrapper-j3nmy75i6gdens {background-color:#adadad;}
#wa-row-j1336caw5mql1k {margin:0px 0px;}
#wa-row-j1336caw5mql1k>div {padding: 0px 0px;}
#wa-row-j1336ch95mqitk {margin:0px 0px;}
#wa-row-j1336ch95mqitk>div {padding: 0px 0px;}
#wa-row-j1336cna5mql1k {margin:0px 0px;}
#wa-row-j1336cna5mql1k>div {padding: 0px 0px;}
#wa-row-j13489x15mqmo8 {margin:0px 0px;}
#wa-row-j13489x15mqmo8>div {padding: 0px 0px;}
#wa-row-j1348aaz5mqlxk {margin:0px 0px;}
#wa-row-j1348aaz5mqlxk>div {padding: 0px 0px;}
#wa-row-j134bi353ycc00 {margin:0px 0px;}
#wa-row-j134bi353ycc00>div {padding: 0px 0px;}
#wa-row-j134ltg65gmb7c {margin:0px 0px;}
#wa-row-j134ltg65gmb7c>div {padding: 0px 0px;}
#wa-row-j134ly5e5gm854>.wa-item-rowspacer {height:20px;}
#wa-row-j134mioq5gmb7c>.wa-item-rowspacer {height:20px;}
#wa-row-j3nrn2k26gteeo {margin:0px 0px;}
#wa-row-j3nrn2k26gteeo>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gtek0 {margin:0px 0px;}
#wa-row-j3nrn2k26gtek0>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gtg1c {margin:0px 0px;}
#wa-row-j3nrn2k26gtg1c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtc1c {margin:0px 0px;}
#wa-row-j3nrn2ko6gtc1c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtchc {margin:0px 0px;}
#wa-row-j3nrn2ko6gtchc>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtcxc {margin:0px 0px;}
#wa-row-j3nrn2ko6gtcxc>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtf5c {margin:0px 0px;}
#wa-row-j3nrn2ko6gtf5c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtfao {margin:0px 0px;}
#wa-row-j3nrn2ko6gtfao>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtg6o {margin:0px 0px;}
#wa-row-j3nrn2ko6gtg6o>div {padding: 0px 0px;}
#wa-sub-container-j132iqyp5hjwds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyp5hjwds>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyp5hjwds>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyq5hjx5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyq5hjx5k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyq5hjx5k>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyr5hk08o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyr5hk08o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyr5hk08o>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nmy75f6gdd48 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 20px 20px 20px;}
#wa-sub-container-j3nmy75f6gdd48>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nmy75f6gdd48>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nmy75h6gddw0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nmy75h6gddw0>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nmy75h6gddw0>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cw6o6keg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cw6o6keg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cw6o6keg>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cy6o66ig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cy6o66ig>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cy6o66ig>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .dropdown-menu {background-color:#000000;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .dropdown-menu > li > a:hover, [id^=wa-compmenu-j3nrn2k25qu6q0] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default {background-color:#000000; border-color:#000000; border-width:0px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-brand, [id^=wa-compmenu-j3nrn2k25qu6q0].navbar-nav li a, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#ffffff;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#c7c7c7;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-nav > .open > a:focus {color:#7a7a7a; background-color:#e7e7e7;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0.501961) !important; border-color:#000000 !important;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-j3nrn2k25qu6q0].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-j3nrn2k25qu6q0] .wa-srch-input {font-size:14px;}
[id^=wa-compmenu-j3nrn2k25qu6q0].navbar-fixed-top .navbar {background-color:rgba(0,0,0,0.501961);}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j1336caw5mql1k {margin:0px 0px;}
#wa-row-j1336caw5mql1k>div {padding: 0px 0px;}
#wa-row-j1336ch95mqitk {margin:0px 0px;}
#wa-row-j1336ch95mqitk>div {padding: 0px 0px;}
#wa-row-j1336cna5mql1k {margin:0px 0px;}
#wa-row-j1336cna5mql1k>div {padding: 0px 0px;}
#wa-row-j13489x15mqmo8 {margin:0px 0px;}
#wa-row-j13489x15mqmo8>div {padding: 0px 0px;}
#wa-row-j1348aaz5mqlxk {margin:0px 0px;}
#wa-row-j1348aaz5mqlxk>div {padding: 0px 0px;}
#wa-row-j134bi353ycc00 {margin:0px 0px;}
#wa-row-j134bi353ycc00>div {padding: 0px 0px;}
#wa-row-j134ltg65gmb7c {margin:0px 0px;}
#wa-row-j134ltg65gmb7c>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gteeo {margin:0px 0px;}
#wa-row-j3nrn2k26gteeo>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gtek0 {margin:0px 0px;}
#wa-row-j3nrn2k26gtek0>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gtg1c {margin:0px 0px;}
#wa-row-j3nrn2k26gtg1c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtc1c {margin:0px 0px;}
#wa-row-j3nrn2ko6gtc1c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtchc {margin:0px 0px;}
#wa-row-j3nrn2ko6gtchc>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtcxc {margin:0px 0px;}
#wa-row-j3nrn2ko6gtcxc>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtf5c {margin:0px 0px;}
#wa-row-j3nrn2ko6gtf5c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtfao {margin:0px 0px;}
#wa-row-j3nrn2ko6gtfao>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtg6o {margin:0px 0px;}
#wa-row-j3nrn2ko6gtg6o>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j1336caw5mql1k {margin:0px 0px;}
#wa-row-j1336caw5mql1k>div {padding: 0px 0px;}
#wa-row-j1336ch95mqitk {margin:0px 0px;}
#wa-row-j1336ch95mqitk>div {padding: 0px 0px;}
#wa-row-j1336cna5mql1k {margin:0px 0px;}
#wa-row-j1336cna5mql1k>div {padding: 0px 0px;}
#wa-row-j13489x15mqmo8 {margin:0px 0px;}
#wa-row-j13489x15mqmo8>div {padding: 0px 0px;}
#wa-row-j1348aaz5mqlxk {margin:0px 0px;}
#wa-row-j1348aaz5mqlxk>div {padding: 0px 0px;}
#wa-row-j134bi353ycc00 {margin:0px 0px;}
#wa-row-j134bi353ycc00>div {padding: 0px 0px;}
#wa-row-j134ltg65gmb7c {margin:0px 0px;}
#wa-row-j134ltg65gmb7c>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gteeo {margin:0px 0px;}
#wa-row-j3nrn2k26gteeo>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gtek0 {margin:0px 0px;}
#wa-row-j3nrn2k26gtek0>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gtg1c {margin:0px 0px;}
#wa-row-j3nrn2k26gtg1c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtc1c {margin:0px 0px;}
#wa-row-j3nrn2ko6gtc1c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtchc {margin:0px 0px;}
#wa-row-j3nrn2ko6gtchc>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtcxc {margin:0px 0px;}
#wa-row-j3nrn2ko6gtcxc>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtf5c {margin:0px 0px;}
#wa-row-j3nrn2ko6gtf5c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtfao {margin:0px 0px;}
#wa-row-j3nrn2ko6gtfao>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtg6o {margin:0px 0px;}
#wa-row-j3nrn2ko6gtg6o>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j1336caw5mql1k {margin:0px 0px;}
#wa-row-j1336caw5mql1k>div {padding: 0px 0px;}
#wa-row-j1336ch95mqitk {margin:0px 0px;}
#wa-row-j1336ch95mqitk>div {padding: 0px 0px;}
#wa-row-j1336cna5mql1k {margin:0px 0px;}
#wa-row-j1336cna5mql1k>div {padding: 0px 0px;}
#wa-row-j13489x15mqmo8 {margin:0px 0px;}
#wa-row-j13489x15mqmo8>div {padding: 0px 0px;}
#wa-row-j1348aaz5mqlxk {margin:0px 0px;}
#wa-row-j1348aaz5mqlxk>div {padding: 0px 0px;}
#wa-row-j134bi353ycc00 {margin:0px 0px;}
#wa-row-j134bi353ycc00>div {padding: 0px 0px;}
#wa-row-j134ltg65gmb7c {margin:0px 0px;}
#wa-row-j134ltg65gmb7c>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gteeo {margin:0px 0px;}
#wa-row-j3nrn2k26gteeo>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gtek0 {margin:0px 0px;}
#wa-row-j3nrn2k26gtek0>div {padding: 0px 0px;}
#wa-row-j3nrn2k26gtg1c {margin:0px 0px;}
#wa-row-j3nrn2k26gtg1c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtc1c {margin:0px 0px;}
#wa-row-j3nrn2ko6gtc1c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtchc {margin:0px 0px;}
#wa-row-j3nrn2ko6gtchc>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtcxc {margin:0px 0px;}
#wa-row-j3nrn2ko6gtcxc>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtf5c {margin:0px 0px;}
#wa-row-j3nrn2ko6gtf5c>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtfao {margin:0px 0px;}
#wa-row-j3nrn2ko6gtfao>div {padding: 0px 0px;}
#wa-row-j3nrn2ko6gtg6o {margin:0px 0px;}
#wa-row-j3nrn2ko6gtg6o>div {padding: 0px 0px;}
}
