#wa-compbutton-j3nqrkza6vums0 {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#337ab7; border-color:#ffffff;}
#wa-compbutton-j3nqrkza6vums0:hover {background-color:#65d8fe;}
#wa-compbutton-j3nqtia76vul2o {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#337ab7; border-color:#ffffff;}
#wa-compbutton-j3nqtia76vul2o:hover {background-color:#65d8fe;}
#wa-compbutton-j3nqtk4q6vv0u0 {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#337ab7; border-color:#ffffff;}
#wa-compbutton-j3nqtk4q6vv0u0:hover {background-color:#65d8fe;}
#wa-compbutton-j3nqtn1x6vusqo {display:inline-block;padding: 10px 16px;font-size: 18px;line-height: 1.33;border-radius: 6px;width:100%;color:#ffffff; background-color:#337ab7; border-color:#ffffff;}
#wa-compbutton-j3nqtn1x6vusqo:hover {background-color:#65d8fe;}
#wa-compimage-j3nq9ymm6kp48g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j3nryz076iw0fk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-j3nryz076iw0fk {padding:40px 40px 40px 40px;}
#wa-compsubpage-j3np2jtd6jstww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#adadad;padding:0px 0px 0px 0px;}
#wa-compsubpage-j3np2jtd6jstww>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j3np2jtd6jstww>.wa-container-vspacer {height:0px;}
#wa-compsubpage-j3np3bnk716dww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-j3np3bnk716dww>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j3np3bnk716dww>.wa-container-vspacer {height:0px;}
#wa-comptext-j3nqfi1n5qekco {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nqny9m5qewtk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nryyzg7dh5z4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j3nryz077dhbl4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nryz077dhepc {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nryz077dhgko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nryz077dhig0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-j3nryz077dhgko {padding:10px 0px 0px 0px;}
#wa-container-j3nrthmm6gdgz4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nrthmm6gdgz4>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nrthmm6gdgz4>.wa-container-vspacer {height:0px;}
#wa-container-j3nrthmt6gd7ps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nrthmt6gd7ps>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nrthmt6gd7ps>.wa-container-vspacer {height:0px;}
#wa-container-j3nrthn06o65qo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nrthn06o65qo>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nrthn06o65qo>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-j3nrthmm6gdgz4 {background-color:#000000;}
#wa-container-wrapper-j3nrthn06o65qo {background-color:#adadad;}
#wa-row-j3np1jtv6mhvgw {margin:0px 0px;}
#wa-row-j3np1jtv6mhvgw>div {padding: 0px 0px;}
#wa-row-j3np1mop6mhw7k {margin:0px 0px;}
#wa-row-j3np1mop6mhw7k>div {padding: 0px 0px;}
#wa-row-j3np1ty76w4wg0 {margin:0px 0px;}
#wa-row-j3np1ty76w4wg0>div {padding: 0px 0px;}
#wa-row-j3nphtnv6fsbxk {margin:0px 0px;}
#wa-row-j3nphtnv6fsbxk>div {padding: 0px 0px;}
#wa-row-j3nqaxsm6wrgk0 {margin:0px 0px;}
#wa-row-j3nqaxsm6wrgk0>div {padding: 0px 0px;}
#wa-row-j3nqb3p06wrjio>.wa-item-rowspacer {height:20px;}
#wa-row-j3nqbyk66wrij4 {margin:0px 0px;}
#wa-row-j3nqbyk66wrij4>div {padding: 0px 0px;}
#wa-row-j3nqc6656wri4w>.wa-item-rowspacer {height:20px;}
#wa-row-j3nqf0nd70i15s {margin:0px 0px;}
#wa-row-j3nqf0nd70i15s>div {padding: 0px 0px;}
#wa-row-j3nql7gb70hz34 {margin:0px 0px;}
#wa-row-j3nql7gb70hz34>div {padding: 0px 0px;}
#wa-row-j3nql8o170hz6o {margin:0px 0px;}
#wa-row-j3nql8o170hz6o>div {padding: 0px 0px;}
#wa-row-j3nql9pm70hzz4 {margin:0px 0px;}
#wa-row-j3nql9pm70hzz4>div {padding: 0px 0px;}
#wa-row-j3nqlqlc70hxls>.wa-item-rowspacer {height:20px;}
#wa-row-j3nqlyhe70hza8 {margin:0px 0px;}
#wa-row-j3nqlyhe70hza8>div {padding: 0px 0px;}
#wa-row-j3nqm90j70hra8>.wa-item-rowspacer {height:20px;}
#wa-row-j3nqmmbp70i8gw>.wa-item-rowspacer {height:20px;}
#wa-row-j3nqnfs070i0dc {margin:0px 0px;}
#wa-row-j3nqnfs070i0dc>div {padding: 0px 0px;}
#wa-row-j3nqnid870i34w>.wa-item-rowspacer {height:20px;}
#wa-row-j3nryyzg6u94x4 {margin:0px 0px;}
#wa-row-j3nryyzg6u94x4>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u957s {margin:0px 0px;}
#wa-row-j3nryyzg6u957s>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u95ig {margin:0px 0px;}
#wa-row-j3nryyzg6u95ig>div {padding: 0px 0px;}
#wa-row-j3nryz076u94rs {margin:0px 0px;}
#wa-row-j3nryz076u94rs>div {padding: 0px 0px;}
#wa-row-j3nryz076u96eg {margin:0px 0px;}
#wa-row-j3nryz076u96eg>div {padding: 0px 0px;}
#wa-row-j3nryz076wdax4 {margin:0px 0px;}
#wa-row-j3nryz076wdax4>div {padding: 0px 0px;}
#wa-row-j3nryz076wdbig {margin:0px 0px;}
#wa-row-j3nryz076wdbig>div {padding: 0px 0px;}
#wa-row-j3nryz076wdc3s {margin:0px 0px;}
#wa-row-j3nryz076wdc3s>div {padding: 0px 0px;}
#wa-row-j3nryz076wdczs {margin:0px 0px;}
#wa-row-j3nryz076wdczs>div {padding: 0px 0px;}
#wa-sub-container-j132iqyp5hjwds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyp5hjwds>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyp5hjwds>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyq5hjx5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyq5hjx5k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyq5hjx5k>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyr5hk08o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyr5hk08o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyr5hk08o>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cw6o6keg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cw6o6keg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cw6o6keg>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cy6o66ig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cy6o66ig>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cy6o66ig>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrthmt6gd8hk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 20px 20px 20px;}
#wa-sub-container-j3nrthmt6gd8hk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrthmt6gd8hk>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrthmv6gd99c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrthmv6gd99c>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrthmv6gd99c>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-j3nryyzg5quc80] .dropdown-menu {background-color:#000000;}
[id^=wa-compmenu-j3nryyzg5quc80] .dropdown-menu > li > a:hover, [id^=wa-compmenu-j3nryyzg5quc80] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-j3nryyzg5quc80] .navbar-default {background-color:#000000; border-color:#000000; border-width:0px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-brand, [id^=wa-compmenu-j3nryyzg5quc80].navbar-nav li a, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#ffffff;}
[id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#c7c7c7;}
[id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-nav > .open > a:focus {color:#7a7a7a; background-color:#e7e7e7;}
[id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0.501961) !important; border-color:#000000 !important;}
[id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-j3nryyzg5quc80] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-j3nryyzg5quc80].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-j3nryyzg5quc80] .wa-srch-input {font-size:14px;}
[id^=wa-compmenu-j3nryyzg5quc80].navbar-fixed-top .navbar {background-color:rgba(0,0,0,0.501961);}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j3np1jtv6mhvgw {margin:0px 0px;}
#wa-row-j3np1jtv6mhvgw>div {padding: 0px 0px;}
#wa-row-j3np1mop6mhw7k {margin:0px 0px;}
#wa-row-j3np1mop6mhw7k>div {padding: 0px 0px;}
#wa-row-j3np1ty76w4wg0 {margin:0px 0px;}
#wa-row-j3np1ty76w4wg0>div {padding: 0px 0px;}
#wa-row-j3nphtnv6fsbxk {margin:0px 0px;}
#wa-row-j3nphtnv6fsbxk>div {padding: 0px 0px;}
#wa-row-j3nqaxsm6wrgk0 {margin:0px 0px;}
#wa-row-j3nqaxsm6wrgk0>div {padding: 0px 0px;}
#wa-row-j3nqbyk66wrij4 {margin:0px 0px;}
#wa-row-j3nqbyk66wrij4>div {padding: 0px 0px;}
#wa-row-j3nqf0nd70i15s {margin:0px 0px;}
#wa-row-j3nqf0nd70i15s>div {padding: 0px 0px;}
#wa-row-j3nql7gb70hz34 {margin:0px 0px;}
#wa-row-j3nql7gb70hz34>div {padding: 0px 0px;}
#wa-row-j3nql8o170hz6o {margin:0px 0px;}
#wa-row-j3nql8o170hz6o>div {padding: 0px 0px;}
#wa-row-j3nql9pm70hzz4 {margin:0px 0px;}
#wa-row-j3nql9pm70hzz4>div {padding: 0px 0px;}
#wa-row-j3nqlyhe70hza8 {margin:0px 0px;}
#wa-row-j3nqlyhe70hza8>div {padding: 0px 0px;}
#wa-row-j3nqnfs070i0dc {margin:0px 0px;}
#wa-row-j3nqnfs070i0dc>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u94x4 {margin:0px 0px;}
#wa-row-j3nryyzg6u94x4>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u957s {margin:0px 0px;}
#wa-row-j3nryyzg6u957s>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u95ig {margin:0px 0px;}
#wa-row-j3nryyzg6u95ig>div {padding: 0px 0px;}
#wa-row-j3nryz076u94rs {margin:0px 0px;}
#wa-row-j3nryz076u94rs>div {padding: 0px 0px;}
#wa-row-j3nryz076u96eg {margin:0px 0px;}
#wa-row-j3nryz076u96eg>div {padding: 0px 0px;}
#wa-row-j3nryz076wdax4 {margin:0px 0px;}
#wa-row-j3nryz076wdax4>div {padding: 0px 0px;}
#wa-row-j3nryz076wdbig {margin:0px 0px;}
#wa-row-j3nryz076wdbig>div {padding: 0px 0px;}
#wa-row-j3nryz076wdc3s {margin:0px 0px;}
#wa-row-j3nryz076wdc3s>div {padding: 0px 0px;}
#wa-row-j3nryz076wdczs {margin:0px 0px;}
#wa-row-j3nryz076wdczs>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j3np1jtv6mhvgw {margin:0px 0px;}
#wa-row-j3np1jtv6mhvgw>div {padding: 0px 0px;}
#wa-row-j3np1mop6mhw7k {margin:0px 0px;}
#wa-row-j3np1mop6mhw7k>div {padding: 0px 0px;}
#wa-row-j3np1ty76w4wg0 {margin:0px 0px;}
#wa-row-j3np1ty76w4wg0>div {padding: 0px 0px;}
#wa-row-j3nphtnv6fsbxk {margin:0px 0px;}
#wa-row-j3nphtnv6fsbxk>div {padding: 0px 0px;}
#wa-row-j3nqaxsm6wrgk0 {margin:0px 0px;}
#wa-row-j3nqaxsm6wrgk0>div {padding: 0px 0px;}
#wa-row-j3nqbyk66wrij4 {margin:0px 0px;}
#wa-row-j3nqbyk66wrij4>div {padding: 0px 0px;}
#wa-row-j3nqf0nd70i15s {margin:0px 0px;}
#wa-row-j3nqf0nd70i15s>div {padding: 0px 0px;}
#wa-row-j3nql7gb70hz34 {margin:0px 0px;}
#wa-row-j3nql7gb70hz34>div {padding: 0px 0px;}
#wa-row-j3nql8o170hz6o {margin:0px 0px;}
#wa-row-j3nql8o170hz6o>div {padding: 0px 0px;}
#wa-row-j3nql9pm70hzz4 {margin:0px 0px;}
#wa-row-j3nql9pm70hzz4>div {padding: 0px 0px;}
#wa-row-j3nqlyhe70hza8 {margin:0px 0px;}
#wa-row-j3nqlyhe70hza8>div {padding: 0px 0px;}
#wa-row-j3nqnfs070i0dc {margin:0px 0px;}
#wa-row-j3nqnfs070i0dc>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u94x4 {margin:0px 0px;}
#wa-row-j3nryyzg6u94x4>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u957s {margin:0px 0px;}
#wa-row-j3nryyzg6u957s>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u95ig {margin:0px 0px;}
#wa-row-j3nryyzg6u95ig>div {padding: 0px 0px;}
#wa-row-j3nryz076u94rs {margin:0px 0px;}
#wa-row-j3nryz076u94rs>div {padding: 0px 0px;}
#wa-row-j3nryz076u96eg {margin:0px 0px;}
#wa-row-j3nryz076u96eg>div {padding: 0px 0px;}
#wa-row-j3nryz076wdax4 {margin:0px 0px;}
#wa-row-j3nryz076wdax4>div {padding: 0px 0px;}
#wa-row-j3nryz076wdbig {margin:0px 0px;}
#wa-row-j3nryz076wdbig>div {padding: 0px 0px;}
#wa-row-j3nryz076wdc3s {margin:0px 0px;}
#wa-row-j3nryz076wdc3s>div {padding: 0px 0px;}
#wa-row-j3nryz076wdczs {margin:0px 0px;}
#wa-row-j3nryz076wdczs>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j3np1jtv6mhvgw {margin:0px 0px;}
#wa-row-j3np1jtv6mhvgw>div {padding: 0px 0px;}
#wa-row-j3np1mop6mhw7k {margin:0px 0px;}
#wa-row-j3np1mop6mhw7k>div {padding: 0px 0px;}
#wa-row-j3np1ty76w4wg0 {margin:0px 0px;}
#wa-row-j3np1ty76w4wg0>div {padding: 0px 0px;}
#wa-row-j3nphtnv6fsbxk {margin:0px 0px;}
#wa-row-j3nphtnv6fsbxk>div {padding: 0px 0px;}
#wa-row-j3nqaxsm6wrgk0 {margin:0px 0px;}
#wa-row-j3nqaxsm6wrgk0>div {padding: 0px 0px;}
#wa-row-j3nqbyk66wrij4 {margin:0px 0px;}
#wa-row-j3nqbyk66wrij4>div {padding: 0px 0px;}
#wa-row-j3nqf0nd70i15s {margin:0px 0px;}
#wa-row-j3nqf0nd70i15s>div {padding: 0px 0px;}
#wa-row-j3nql7gb70hz34 {margin:0px 0px;}
#wa-row-j3nql7gb70hz34>div {padding: 0px 0px;}
#wa-row-j3nql8o170hz6o {margin:0px 0px;}
#wa-row-j3nql8o170hz6o>div {padding: 0px 0px;}
#wa-row-j3nql9pm70hzz4 {margin:0px 0px;}
#wa-row-j3nql9pm70hzz4>div {padding: 0px 0px;}
#wa-row-j3nqlyhe70hza8 {margin:0px 0px;}
#wa-row-j3nqlyhe70hza8>div {padding: 0px 0px;}
#wa-row-j3nqnfs070i0dc {margin:0px 0px;}
#wa-row-j3nqnfs070i0dc>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u94x4 {margin:0px 0px;}
#wa-row-j3nryyzg6u94x4>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u957s {margin:0px 0px;}
#wa-row-j3nryyzg6u957s>div {padding: 0px 0px;}
#wa-row-j3nryyzg6u95ig {margin:0px 0px;}
#wa-row-j3nryyzg6u95ig>div {padding: 0px 0px;}
#wa-row-j3nryz076u94rs {margin:0px 0px;}
#wa-row-j3nryz076u94rs>div {padding: 0px 0px;}
#wa-row-j3nryz076u96eg {margin:0px 0px;}
#wa-row-j3nryz076u96eg>div {padding: 0px 0px;}
#wa-row-j3nryz076wdax4 {margin:0px 0px;}
#wa-row-j3nryz076wdax4>div {padding: 0px 0px;}
#wa-row-j3nryz076wdbig {margin:0px 0px;}
#wa-row-j3nryz076wdbig>div {padding: 0px 0px;}
#wa-row-j3nryz076wdc3s {margin:0px 0px;}
#wa-row-j3nryz076wdc3s>div {padding: 0px 0px;}
#wa-row-j3nryz076wdczs {margin:0px 0px;}
#wa-row-j3nryz076wdczs>div {padding: 0px 0px;}
}
