#wa-compbutton-j0zs5g5y7ymads {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#000000; border-color:#000000;}
#wa-compbutton-j0zs5g5y7ymads-halign {text-align:center;}
#wa-compbutton-j0zs5g5y7ymads:hover {background-color:#0856fb;}
#wa-compimage-j0x7aoo55smx2g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j17r2qkx545pp4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j30o62fd5cpqqo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-j0x7aoo55smx2g {padding:0px 90px 0px 90px;}
#wa-compimage-padwrapper-j30o62fd5cpqqo {padding:40px 40px 40px 40px;}
#wa-compsubpage-j0x68hzd53pqa8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-j0x68hzd53pqa8>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j0x68hzd53pqa8>.wa-container-vspacer {height:0px;}
#wa-compsubpage-j0x6cd6l2sm080 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#adadad;padding:0px 0px 0px 0px;}
#wa-compsubpage-j0x6cd6l2sm080>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j0x6cd6l2sm080>.wa-container-vspacer {height:0px;}
#wa-comptext-j0x84hoo5r5qpk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j0zs0zoa85g420 {background-color:rgba(0,0,0,0.501961);border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j30o62f86ehec8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j30o62fd6eh9co {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j30o62fd6ehd3c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j30o62fd6ehi2w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j30o62fd6ehjy8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-j30o62fd6ehjy8 {padding:10px 0px 0px 0px;}
#wa-container-j30mmq3o5gxklk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j30mmq3o5gxklk>.row>.clearfix {margin-bottom:0px;}
#wa-container-j30mmq3o5gxklk>.wa-container-vspacer {height:0px;}
#wa-container-j30mmq3t5gxhig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j30mmq3t5gxhig>.row>.clearfix {margin-bottom:0px;}
#wa-container-j30mmq3t5gxhig>.wa-container-vspacer {height:0px;}
#wa-container-j30mmq3y5gxia8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j30mmq3y5gxia8>.row>.clearfix {margin-bottom:0px;}
#wa-container-j30mmq3y5gxia8>.wa-container-vspacer {height:0px;}
#wa-container-j30mmq3y5gxjts {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j30mmq3y5gxjts>.row>.clearfix {margin-bottom:0px;}
#wa-container-j30mmq3y5gxjts>.wa-container-vspacer {height:0px;}
#wa-container-j30mmq3y5gxp88 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j30mmq3y5gxp88>.row>.clearfix {margin-bottom:0px;}
#wa-container-j30mmq3y5gxp88>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-j30mmq3o5gxklk {background-color:#000000;}
#wa-container-wrapper-j30mmq3y5gxia8 {background-color:#ffffff;}
#wa-container-wrapper-j30mmq3y5gxjts {background-color:#ffffff;}
#wa-container-wrapper-j30mmq3y5gxp88 {background-color:#adadad;}
#wa-row-j0x683hh5o95u8 {margin:0px 0px;}
#wa-row-j0x683hh5o95u8>div {padding: 0px 0px;}
#wa-row-j0x6avwk5o92fk {margin:0px 0px;}
#wa-row-j0x6avwk5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6aw645o90i8 {margin:0px 0px;}
#wa-row-j0x6aw645o90i8>div {padding: 0px 0px;}
#wa-row-j0x6dikg5o92fk {margin:0px 0px;}
#wa-row-j0x6dikg5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6dj8i5o90cw {margin:0px 0px;}
#wa-row-j0x6dj8i5o90cw>div {padding: 0px 0px;}
#wa-row-j0x84ein5lhre8 {margin:0px 0px;}
#wa-row-j0x84ein5lhre8>div {padding: 0px 0px;}
#wa-row-j0x8z9oy4zt23k>.wa-item-rowspacer {height:230px;}
#wa-row-j0x907vg5s8giw>.wa-item-rowspacer {height:20px;}
#wa-row-j0x917xe5n5ks0>.wa-item-rowspacer {height:20px;}
#wa-row-j0zrzuuv6bgcww {margin:0px 0px;}
#wa-row-j0zrzuuv6bgcww>div {padding: 0px 0px;}
#wa-row-j0zrzuuy8khmc {margin:0px 0px;}
#wa-row-j0zrzuuy8khmc>div {padding: 0px 0px;}
#wa-row-j0zs0i9x3ytf0g {margin:0px 0px;}
#wa-row-j0zs0i9x3ytf0g>div {padding: 0px 0px;}
#wa-row-j0zs0ldv3yteio>.wa-item-rowspacer {height:170px;}
#wa-row-j0zs7kxp81za7k>.wa-item-rowspacer {height:20px;}
#wa-row-j128p43h4r6yf4 {margin:0px 0px;}
#wa-row-j128p43h4r6yf4>div {padding: 0px 0px;}
#wa-row-j30o62f85g3yds {margin:0px 0px;}
#wa-row-j30o62f85g3yds>div {padding: 0px 0px;}
#wa-row-j30o62f85g3yj4 {margin:0px 0px;}
#wa-row-j30o62f85g3yj4>div {padding: 0px 0px;}
#wa-row-j30o62f85g400g {margin:0px 0px;}
#wa-row-j30o62f85g400g>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3vv4 {margin:0px 0px;}
#wa-row-j30o62fd5g3vv4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wb4 {margin:0px 0px;}
#wa-row-j30o62fd5g3wb4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wls {margin:0px 0px;}
#wa-row-j30o62fd5g3wls>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wr4 {margin:0px 0px;}
#wa-row-j30o62fd5g3wr4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3yz4 {margin:0px 0px;}
#wa-row-j30o62fd5g3yz4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3zf4 {margin:0px 0px;}
#wa-row-j30o62fd5g3zf4>div {padding: 0px 0px;}
#wa-sub-container-j132iqyp5hjwds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyp5hjwds>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyp5hjwds>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyq5hjx5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyq5hjx5k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyq5hjx5k>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyr5hk08o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyr5hk08o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyr5hk08o>.wa-container-vspacer {height:0px;}
#wa-sub-container-j1evxm9p3kmfps {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j1evxm9p3kmfps>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j1evxm9p3kmfps>.wa-container-vspacer {height:0px;}
#wa-sub-container-j1evxm9s3kmjko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j1evxm9s3kmjko>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j1evxm9s3kmjko>.wa-container-vspacer {height:0px;}
#wa-sub-container-j30mmq3t5gxmww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j30mmq3t5gxmww>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j30mmq3t5gxmww>.wa-container-vspacer {height:0px;}
#wa-sub-container-j30mmq3y5gxgqo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#ffffff;padding:0px 0px 0px 30px;}
#wa-sub-container-j30mmq3y5gxgqo>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j30mmq3y5gxgqo>.wa-container-vspacer {height:0px;}
#wa-sub-container-j30mmq3y5gxogg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#ffffff;padding:0px 0px 0px 0px;}
#wa-sub-container-j30mmq3y5gxogg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j30mmq3y5gxogg>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-j30o62f86gvn5c] .dropdown-menu {background-color:#ffffff;}
[id^=wa-compmenu-j30o62f86gvn5c] .dropdown-menu > li > a:hover, [id^=wa-compmenu-j30o62f86gvn5c] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-j30o62f86gvn5c] .navbar-default {background-color:#000000; border-color:#f7f7f7; border-width:0px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-brand, [id^=wa-compmenu-j30o62f86gvn5c].navbar-nav li a, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:15px; color:#ffffff;}
[id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#c7c7c7;}
[id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-nav > .open > a:focus {color:#7a7a7a; background-color:#e7e7e7;}
[id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0.501961) !important; border-color:#000000 !important;}
[id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-j30o62f86gvn5c] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-j30o62f86gvn5c].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-j30o62f86gvn5c] .wa-srch-input {font-size:15px;}
[id^=wa-compmenu-j30o62f86gvn5c].navbar-fixed-top .navbar {background-color:rgba(0,0,0,0.501961);}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j0x683hh5o95u8 {margin:0px 0px;}
#wa-row-j0x683hh5o95u8>div {padding: 0px 0px;}
#wa-row-j0x6avwk5o92fk {margin:0px 0px;}
#wa-row-j0x6avwk5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6aw645o90i8 {margin:0px 0px;}
#wa-row-j0x6aw645o90i8>div {padding: 0px 0px;}
#wa-row-j0x6dikg5o92fk {margin:0px 0px;}
#wa-row-j0x6dikg5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6dj8i5o90cw {margin:0px 0px;}
#wa-row-j0x6dj8i5o90cw>div {padding: 0px 0px;}
#wa-row-j0x84ein5lhre8 {margin:0px 0px;}
#wa-row-j0x84ein5lhre8>div {padding: 0px 0px;}
#wa-row-j0zrzuuv6bgcww {margin:0px 0px;}
#wa-row-j0zrzuuv6bgcww>div {padding: 0px 0px;}
#wa-row-j0zrzuuy8khmc {margin:0px 0px;}
#wa-row-j0zrzuuy8khmc>div {padding: 0px 0px;}
#wa-row-j0zs0i9x3ytf0g {margin:0px 0px;}
#wa-row-j0zs0i9x3ytf0g>div {padding: 0px 0px;}
#wa-row-j128p43h4r6yf4 {margin:0px 0px;}
#wa-row-j128p43h4r6yf4>div {padding: 0px 0px;}
#wa-row-j30o62f85g3yds {margin:0px 0px;}
#wa-row-j30o62f85g3yds>div {padding: 0px 0px;}
#wa-row-j30o62f85g3yj4 {margin:0px 0px;}
#wa-row-j30o62f85g3yj4>div {padding: 0px 0px;}
#wa-row-j30o62f85g400g {margin:0px 0px;}
#wa-row-j30o62f85g400g>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3vv4 {margin:0px 0px;}
#wa-row-j30o62fd5g3vv4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wb4 {margin:0px 0px;}
#wa-row-j30o62fd5g3wb4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wls {margin:0px 0px;}
#wa-row-j30o62fd5g3wls>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wr4 {margin:0px 0px;}
#wa-row-j30o62fd5g3wr4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3yz4 {margin:0px 0px;}
#wa-row-j30o62fd5g3yz4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3zf4 {margin:0px 0px;}
#wa-row-j30o62fd5g3zf4>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j0x683hh5o95u8 {margin:0px 0px;}
#wa-row-j0x683hh5o95u8>div {padding: 0px 0px;}
#wa-row-j0x6avwk5o92fk {margin:0px 0px;}
#wa-row-j0x6avwk5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6aw645o90i8 {margin:0px 0px;}
#wa-row-j0x6aw645o90i8>div {padding: 0px 0px;}
#wa-row-j0x6dikg5o92fk {margin:0px 0px;}
#wa-row-j0x6dikg5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6dj8i5o90cw {margin:0px 0px;}
#wa-row-j0x6dj8i5o90cw>div {padding: 0px 0px;}
#wa-row-j0x84ein5lhre8 {margin:0px 0px;}
#wa-row-j0x84ein5lhre8>div {padding: 0px 0px;}
#wa-row-j0zrzuuv6bgcww {margin:0px 0px;}
#wa-row-j0zrzuuv6bgcww>div {padding: 0px 0px;}
#wa-row-j0zrzuuy8khmc {margin:0px 0px;}
#wa-row-j0zrzuuy8khmc>div {padding: 0px 0px;}
#wa-row-j0zs0i9x3ytf0g {margin:0px 0px;}
#wa-row-j0zs0i9x3ytf0g>div {padding: 0px 0px;}
#wa-row-j128p43h4r6yf4 {margin:0px 0px;}
#wa-row-j128p43h4r6yf4>div {padding: 0px 0px;}
#wa-row-j30o62f85g3yds {margin:0px 0px;}
#wa-row-j30o62f85g3yds>div {padding: 0px 0px;}
#wa-row-j30o62f85g3yj4 {margin:0px 0px;}
#wa-row-j30o62f85g3yj4>div {padding: 0px 0px;}
#wa-row-j30o62f85g400g {margin:0px 0px;}
#wa-row-j30o62f85g400g>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3vv4 {margin:0px 0px;}
#wa-row-j30o62fd5g3vv4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wb4 {margin:0px 0px;}
#wa-row-j30o62fd5g3wb4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wls {margin:0px 0px;}
#wa-row-j30o62fd5g3wls>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wr4 {margin:0px 0px;}
#wa-row-j30o62fd5g3wr4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3yz4 {margin:0px 0px;}
#wa-row-j30o62fd5g3yz4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3zf4 {margin:0px 0px;}
#wa-row-j30o62fd5g3zf4>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j0x683hh5o95u8 {margin:0px 0px;}
#wa-row-j0x683hh5o95u8>div {padding: 0px 0px;}
#wa-row-j0x6avwk5o92fk {margin:0px 0px;}
#wa-row-j0x6avwk5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6aw645o90i8 {margin:0px 0px;}
#wa-row-j0x6aw645o90i8>div {padding: 0px 0px;}
#wa-row-j0x6dikg5o92fk {margin:0px 0px;}
#wa-row-j0x6dikg5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6dj8i5o90cw {margin:0px 0px;}
#wa-row-j0x6dj8i5o90cw>div {padding: 0px 0px;}
#wa-row-j0x84ein5lhre8 {margin:0px 0px;}
#wa-row-j0x84ein5lhre8>div {padding: 0px 0px;}
#wa-row-j0zrzuuv6bgcww {margin:0px 0px;}
#wa-row-j0zrzuuv6bgcww>div {padding: 0px 0px;}
#wa-row-j0zrzuuy8khmc {margin:0px 0px;}
#wa-row-j0zrzuuy8khmc>div {padding: 0px 0px;}
#wa-row-j0zs0i9x3ytf0g {margin:0px 0px;}
#wa-row-j0zs0i9x3ytf0g>div {padding: 0px 0px;}
#wa-row-j128p43h4r6yf4 {margin:0px 0px;}
#wa-row-j128p43h4r6yf4>div {padding: 0px 0px;}
#wa-row-j30o62f85g3yds {margin:0px 0px;}
#wa-row-j30o62f85g3yds>div {padding: 0px 0px;}
#wa-row-j30o62f85g3yj4 {margin:0px 0px;}
#wa-row-j30o62f85g3yj4>div {padding: 0px 0px;}
#wa-row-j30o62f85g400g {margin:0px 0px;}
#wa-row-j30o62f85g400g>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3vv4 {margin:0px 0px;}
#wa-row-j30o62fd5g3vv4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wb4 {margin:0px 0px;}
#wa-row-j30o62fd5g3wb4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wls {margin:0px 0px;}
#wa-row-j30o62fd5g3wls>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3wr4 {margin:0px 0px;}
#wa-row-j30o62fd5g3wr4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3yz4 {margin:0px 0px;}
#wa-row-j30o62fd5g3yz4>div {padding: 0px 0px;}
#wa-row-j30o62fd5g3zf4 {margin:0px 0px;}
#wa-row-j30o62fd5g3zf4>div {padding: 0px 0px;}
}
