#wa-compimage-j1hoz5al5f9y40 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j1hp1rcv5fa0pc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j3nrn2jf6w36gw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-j3nrn2jf6w36gw {padding:40px 40px 40px 40px;}
#wa-compsubpage-j0zqk8np8b9ffc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#adadad;padding:0px 0px 0px 0px;}
#wa-compsubpage-j0zqk8np8b9ffc>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j0zqk8np8b9ffc>.wa-container-vspacer {height:0px;}
#wa-compsubpage-j0zqkstq3wv9ko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-j0zqkstq3wv9ko>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j0zqkstq3wv9ko>.wa-container-vspacer {height:0px;}
#wa-comptext-j3nrn2iq7dxwag {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j3nrn2jf7dxrxc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2jf7dxsjs {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2jf7dxwww {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2jf7dxxjc {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-j3nrn2jf7dxwww {padding:10px 0px 0px 0px;}
#wa-container-j3nn5y7u6o62nk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn5y7u6o62nk>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn5y7u6o62nk>.wa-container-vspacer {height:0px;}
#wa-container-j3nn5y816o5y0w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn5y816o5y0w>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn5y816o5y0w>.wa-container-vspacer {height:0px;}
#wa-container-j3nn5y816o6f00 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn5y816o6f00>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn5y816o6f00>.wa-container-vspacer {height:0px;}
#wa-container-j3nn5y826o64yw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn5y826o64yw>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn5y826o64yw>.wa-container-vspacer {height:0px;}
#wa-container-j3nn5y826o6820 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn5y826o6820>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn5y826o6820>.wa-container-vspacer {height:0px;}
#wa-container-j3nn5y8h6o6l68 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn5y8h6o6l68>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn5y8h6o6l68>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-j3nn5y7u6o62nk {background-color:#000000;}
#wa-container-wrapper-j3nn5y826o6820 {background-color:#adadad;}
#wa-row-j0zqk4fl6bgg0w {margin:0px 0px;}
#wa-row-j0zqk4fl6bgg0w>div {padding: 0px 0px;}
#wa-row-j0zqk5wt6bghsw {margin:0px 0px;}
#wa-row-j0zqk5wt6bghsw>div {padding: 0px 0px;}
#wa-row-j1evzw407ea10g {margin:0px 0px;}
#wa-row-j1evzw407ea10g>div {padding: 0px 0px;}
#wa-row-j1evzwj47ea0ps {margin:0px 0px;}
#wa-row-j1evzwj47ea0ps>div {padding: 0px 0px;}
#wa-row-j1ew0reo7e9x0g {margin:0px 0px;}
#wa-row-j1ew0reo7e9x0g>div {padding: 0px 0px;}
#wa-row-j1ew15wg67p1hc>.wa-item-rowspacer {height:20px;}
#wa-row-j1ew1bx167p0ao>.wa-item-rowspacer {height:20px;}
#wa-row-j1ew69wx7e9yn4 {margin:0px 0px;}
#wa-row-j1ew69wx7e9yn4>div {padding: 0px 0px;}
#wa-row-j1ew6a547ea0v4 {margin:0px 0px;}
#wa-row-j1ew6a547ea0v4>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtc6o {margin:0px 0px;}
#wa-row-j3nrn2iq6gtc6o>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtdyo {margin:0px 0px;}
#wa-row-j3nrn2iq6gtdyo>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtfg0 {margin:0px 0px;}
#wa-row-j3nrn2iq6gtfg0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtbw0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtbw0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtcc0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtcc0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtcs0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtcs0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gte9c {margin:0px 0px;}
#wa-row-j3nrn2jf6gte9c>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtflc {margin:0px 0px;}
#wa-row-j3nrn2jf6gtflc>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtfw0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtfw0>div {padding: 0px 0px;}
#wa-sub-container-j132iqyp5hjwds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyp5hjwds>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyp5hjwds>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyq5hjx5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyq5hjx5k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyq5hjx5k>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyr5hk08o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyr5hk08o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyr5hk08o>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nn5y816o6474 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 40px 0px 40px;}
#wa-sub-container-j3nn5y816o6474>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nn5y816o6474>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nn5y826o5yso {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 40px 0px 40px;}
#wa-sub-container-j3nn5y826o5yso>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nn5y826o5yso>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cw6o6keg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cw6o6keg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cw6o6keg>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cy6o66ig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cy6o66ig>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cy6o66ig>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .dropdown-menu {background-color:#000000;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .dropdown-menu > li > a:hover, [id^=wa-compmenu-j3nrn2iq6ioeq8] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default {background-color:#000000; border-color:#000000; border-width:0px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-brand, [id^=wa-compmenu-j3nrn2iq6ioeq8].navbar-nav li a, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#ffffff;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#c7c7c7;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-nav > .open > a:focus {color:#7a7a7a; background-color:#e7e7e7;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0.501961) !important; border-color:#000000 !important;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-j3nrn2iq6ioeq8].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-j3nrn2iq6ioeq8] .wa-srch-input {font-size:14px;}
[id^=wa-compmenu-j3nrn2iq6ioeq8].navbar-fixed-top .navbar {background-color:rgba(0,0,0,0.501961);}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j0zqk4fl6bgg0w {margin:0px 0px;}
#wa-row-j0zqk4fl6bgg0w>div {padding: 0px 0px;}
#wa-row-j0zqk5wt6bghsw {margin:0px 0px;}
#wa-row-j0zqk5wt6bghsw>div {padding: 0px 0px;}
#wa-row-j1evzw407ea10g {margin:0px 0px;}
#wa-row-j1evzw407ea10g>div {padding: 0px 0px;}
#wa-row-j1evzwj47ea0ps {margin:0px 0px;}
#wa-row-j1evzwj47ea0ps>div {padding: 0px 0px;}
#wa-row-j1ew0reo7e9x0g {margin:0px 0px;}
#wa-row-j1ew0reo7e9x0g>div {padding: 0px 0px;}
#wa-row-j1ew69wx7e9yn4 {margin:0px 0px;}
#wa-row-j1ew69wx7e9yn4>div {padding: 0px 0px;}
#wa-row-j1ew6a547ea0v4 {margin:0px 0px;}
#wa-row-j1ew6a547ea0v4>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtc6o {margin:0px 0px;}
#wa-row-j3nrn2iq6gtc6o>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtdyo {margin:0px 0px;}
#wa-row-j3nrn2iq6gtdyo>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtfg0 {margin:0px 0px;}
#wa-row-j3nrn2iq6gtfg0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtbw0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtbw0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtcc0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtcc0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtcs0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtcs0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gte9c {margin:0px 0px;}
#wa-row-j3nrn2jf6gte9c>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtflc {margin:0px 0px;}
#wa-row-j3nrn2jf6gtflc>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtfw0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtfw0>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j0zqk4fl6bgg0w {margin:0px 0px;}
#wa-row-j0zqk4fl6bgg0w>div {padding: 0px 0px;}
#wa-row-j0zqk5wt6bghsw {margin:0px 0px;}
#wa-row-j0zqk5wt6bghsw>div {padding: 0px 0px;}
#wa-row-j1evzw407ea10g {margin:0px 0px;}
#wa-row-j1evzw407ea10g>div {padding: 0px 0px;}
#wa-row-j1evzwj47ea0ps {margin:0px 0px;}
#wa-row-j1evzwj47ea0ps>div {padding: 0px 0px;}
#wa-row-j1ew0reo7e9x0g {margin:0px 0px;}
#wa-row-j1ew0reo7e9x0g>div {padding: 0px 0px;}
#wa-row-j1ew69wx7e9yn4 {margin:0px 0px;}
#wa-row-j1ew69wx7e9yn4>div {padding: 0px 0px;}
#wa-row-j1ew6a547ea0v4 {margin:0px 0px;}
#wa-row-j1ew6a547ea0v4>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtc6o {margin:0px 0px;}
#wa-row-j3nrn2iq6gtc6o>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtdyo {margin:0px 0px;}
#wa-row-j3nrn2iq6gtdyo>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtfg0 {margin:0px 0px;}
#wa-row-j3nrn2iq6gtfg0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtbw0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtbw0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtcc0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtcc0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtcs0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtcs0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gte9c {margin:0px 0px;}
#wa-row-j3nrn2jf6gte9c>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtflc {margin:0px 0px;}
#wa-row-j3nrn2jf6gtflc>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtfw0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtfw0>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j0zqk4fl6bgg0w {margin:0px 0px;}
#wa-row-j0zqk4fl6bgg0w>div {padding: 0px 0px;}
#wa-row-j0zqk5wt6bghsw {margin:0px 0px;}
#wa-row-j0zqk5wt6bghsw>div {padding: 0px 0px;}
#wa-row-j1evzw407ea10g {margin:0px 0px;}
#wa-row-j1evzw407ea10g>div {padding: 0px 0px;}
#wa-row-j1evzwj47ea0ps {margin:0px 0px;}
#wa-row-j1evzwj47ea0ps>div {padding: 0px 0px;}
#wa-row-j1ew0reo7e9x0g {margin:0px 0px;}
#wa-row-j1ew0reo7e9x0g>div {padding: 0px 0px;}
#wa-row-j1ew69wx7e9yn4 {margin:0px 0px;}
#wa-row-j1ew69wx7e9yn4>div {padding: 0px 0px;}
#wa-row-j1ew6a547ea0v4 {margin:0px 0px;}
#wa-row-j1ew6a547ea0v4>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtc6o {margin:0px 0px;}
#wa-row-j3nrn2iq6gtc6o>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtdyo {margin:0px 0px;}
#wa-row-j3nrn2iq6gtdyo>div {padding: 0px 0px;}
#wa-row-j3nrn2iq6gtfg0 {margin:0px 0px;}
#wa-row-j3nrn2iq6gtfg0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtbw0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtbw0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtcc0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtcc0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtcs0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtcs0>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gte9c {margin:0px 0px;}
#wa-row-j3nrn2jf6gte9c>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtflc {margin:0px 0px;}
#wa-row-j3nrn2jf6gtflc>div {padding: 0px 0px;}
#wa-row-j3nrn2jf6gtfw0 {margin:0px 0px;}
#wa-row-j3nrn2jf6gtfw0>div {padding: 0px 0px;}
}
