#wa-compbutton-j17yr6xi6bj08o {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#337ab7; border-color:#2e6da4;}
#wa-compbutton-j17yr6xi6bj08o-halign {text-align:center;}
#wa-compbutton-j17yr6xi6bj08o:hover {background-color:#2e6da4;}
#wa-compimage-j3nrn2mx6iw1q8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-j3nrn2mx6iw1q8 {padding:40px 40px 40px 40px;}
#wa-compsubpage-j17x7g7r58bh7s {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-j17x7g7r58bh7s>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j17x7g7r58bh7s>.wa-container-vspacer {height:0px;}
#wa-compsubpage-j17x7wrj60vw4w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#adadad;padding:0px 0px 0px 0px;}
#wa-compsubpage-j17x7wrj60vw4w>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j17x7wrj60vw4w>.wa-container-vspacer {height:0px;}
#wa-comptext-j17xau0p6y0fw8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2mh7dy84w {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j3nrn2mx7dya08 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2mx7dybvk {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2mx7dyci0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j3nrn2mx7dygv4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-j3nrn2mx7dya08 {padding:10px 0px 0px 0px;}
#wa-container-j3nn91q76og4z4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn91q76og4z4>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn91q76og4z4>.wa-container-vspacer {height:0px;}
#wa-container-j3nn91qe6og3fk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn91qe6og3fk>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn91qe6og3fk>.wa-container-vspacer {height:0px;}
#wa-container-j3nn91qe6oge8g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn91qe6oge8g>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn91qe6oge8g>.wa-container-vspacer {height:0px;}
#wa-container-j3nn91qf6og7ag {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn91qf6og7ag>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn91qf6og7ag>.wa-container-vspacer {height:0px;}
#wa-container-j3nn91qg6og5qw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j3nn91qg6og5qw>.row>.clearfix {margin-bottom:0px;}
#wa-container-j3nn91qg6og5qw>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-j3nn91q76og4z4 {background-color:#000000;}
#wa-container-wrapper-j3nn91qg6og5qw {background-color:#adadad;}
#wa-row-j17x7aa96e4mc0 {margin:0px 0px;}
#wa-row-j17x7aa96e4mc0>div {padding: 0px 0px;}
#wa-row-j17x7aos6e4m6o {margin:0px 0px;}
#wa-row-j17x7aos6e4m6o>div {padding: 0px 0px;}
#wa-row-j17x7b5i6e4m6o {margin:0px 0px;}
#wa-row-j17x7b5i6e4m6o>div {padding: 0px 0px;}
#wa-row-j17x7d996e4mxc {margin:0px 0px;}
#wa-row-j17x7d996e4mxc>div {padding: 0px 0px;}
#wa-row-j17x8x5b5t28mg>.wa-item-rowspacer {height:20px;}
#wa-row-j17x97io6e4nyo {margin:0px 0px;}
#wa-row-j17x97io6e4nyo>div {padding: 0px 0px;}
#wa-row-j17x9gvs5rqg1k>.wa-item-rowspacer {height:20px;}
#wa-row-j3nrn2mh6gtgc0 {margin:0px 0px;}
#wa-row-j3nrn2mh6gtgc0>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gthdc {margin:0px 0px;}
#wa-row-j3nrn2mh6gthdc>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gtho0 {margin:0px 0px;}
#wa-row-j3nrn2mh6gtho0>div {padding: 0px 0px;}
#wa-row-j3nrn2mx5jq134 {margin:0px 0px;}
#wa-row-j3nrn2mx5jq134>div {padding: 0px 0px;}
#wa-row-j3nrn2mx5t8nf4 {margin:0px 0px;}
#wa-row-j3nrn2mx5t8nf4>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gtgmo {margin:0px 0px;}
#wa-row-j3nrn2mx6gtgmo>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gtgs0 {margin:0px 0px;}
#wa-row-j3nrn2mx6gtgs0>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gth2o {margin:0px 0px;}
#wa-row-j3nrn2mx6gth2o>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6m6pns {margin:0px 0px;}
#wa-row-j3nrn2mx6m6pns>div {padding: 0px 0px;}
#wa-sub-container-j132iqyp5hjwds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyp5hjwds>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyp5hjwds>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyq5hjx5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyq5hjx5k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyq5hjx5k>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyr5hk08o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyr5hk08o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyr5hk08o>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cw6o6keg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cw6o6keg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cw6o6keg>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cy6o66ig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cy6o66ig>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cy6o66ig>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-j3nrn2mh5qu780] .dropdown-menu {background-color:#000000;}
[id^=wa-compmenu-j3nrn2mh5qu780] .dropdown-menu > li > a:hover, [id^=wa-compmenu-j3nrn2mh5qu780] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default {background-color:#000000; border-color:#000000; border-width:0px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-brand, [id^=wa-compmenu-j3nrn2mh5qu780].navbar-nav li a, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#ffffff;}
[id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#c7c7c7;}
[id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-nav > .open > a:focus {color:#7a7a7a; background-color:#e7e7e7;}
[id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0.501961) !important; border-color:#000000 !important;}
[id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-j3nrn2mh5qu780] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-j3nrn2mh5qu780].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-j3nrn2mh5qu780] .wa-srch-input {font-size:14px;}
[id^=wa-compmenu-j3nrn2mh5qu780].navbar-fixed-top .navbar {background-color:rgba(0,0,0,0.501961);}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j17x7aa96e4mc0 {margin:0px 0px;}
#wa-row-j17x7aa96e4mc0>div {padding: 0px 0px;}
#wa-row-j17x7aos6e4m6o {margin:0px 0px;}
#wa-row-j17x7aos6e4m6o>div {padding: 0px 0px;}
#wa-row-j17x7b5i6e4m6o {margin:0px 0px;}
#wa-row-j17x7b5i6e4m6o>div {padding: 0px 0px;}
#wa-row-j17x7d996e4mxc {margin:0px 0px;}
#wa-row-j17x7d996e4mxc>div {padding: 0px 0px;}
#wa-row-j17x97io6e4nyo {margin:0px 0px;}
#wa-row-j17x97io6e4nyo>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gtgc0 {margin:0px 0px;}
#wa-row-j3nrn2mh6gtgc0>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gthdc {margin:0px 0px;}
#wa-row-j3nrn2mh6gthdc>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gtho0 {margin:0px 0px;}
#wa-row-j3nrn2mh6gtho0>div {padding: 0px 0px;}
#wa-row-j3nrn2mx5jq134 {margin:0px 0px;}
#wa-row-j3nrn2mx5jq134>div {padding: 0px 0px;}
#wa-row-j3nrn2mx5t8nf4 {margin:0px 0px;}
#wa-row-j3nrn2mx5t8nf4>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gtgmo {margin:0px 0px;}
#wa-row-j3nrn2mx6gtgmo>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gtgs0 {margin:0px 0px;}
#wa-row-j3nrn2mx6gtgs0>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gth2o {margin:0px 0px;}
#wa-row-j3nrn2mx6gth2o>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6m6pns {margin:0px 0px;}
#wa-row-j3nrn2mx6m6pns>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j17x7aa96e4mc0 {margin:0px 0px;}
#wa-row-j17x7aa96e4mc0>div {padding: 0px 0px;}
#wa-row-j17x7aos6e4m6o {margin:0px 0px;}
#wa-row-j17x7aos6e4m6o>div {padding: 0px 0px;}
#wa-row-j17x7b5i6e4m6o {margin:0px 0px;}
#wa-row-j17x7b5i6e4m6o>div {padding: 0px 0px;}
#wa-row-j17x7d996e4mxc {margin:0px 0px;}
#wa-row-j17x7d996e4mxc>div {padding: 0px 0px;}
#wa-row-j17x97io6e4nyo {margin:0px 0px;}
#wa-row-j17x97io6e4nyo>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gtgc0 {margin:0px 0px;}
#wa-row-j3nrn2mh6gtgc0>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gthdc {margin:0px 0px;}
#wa-row-j3nrn2mh6gthdc>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gtho0 {margin:0px 0px;}
#wa-row-j3nrn2mh6gtho0>div {padding: 0px 0px;}
#wa-row-j3nrn2mx5jq134 {margin:0px 0px;}
#wa-row-j3nrn2mx5jq134>div {padding: 0px 0px;}
#wa-row-j3nrn2mx5t8nf4 {margin:0px 0px;}
#wa-row-j3nrn2mx5t8nf4>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gtgmo {margin:0px 0px;}
#wa-row-j3nrn2mx6gtgmo>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gtgs0 {margin:0px 0px;}
#wa-row-j3nrn2mx6gtgs0>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gth2o {margin:0px 0px;}
#wa-row-j3nrn2mx6gth2o>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6m6pns {margin:0px 0px;}
#wa-row-j3nrn2mx6m6pns>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j17x7aa96e4mc0 {margin:0px 0px;}
#wa-row-j17x7aa96e4mc0>div {padding: 0px 0px;}
#wa-row-j17x7aos6e4m6o {margin:0px 0px;}
#wa-row-j17x7aos6e4m6o>div {padding: 0px 0px;}
#wa-row-j17x7b5i6e4m6o {margin:0px 0px;}
#wa-row-j17x7b5i6e4m6o>div {padding: 0px 0px;}
#wa-row-j17x7d996e4mxc {margin:0px 0px;}
#wa-row-j17x7d996e4mxc>div {padding: 0px 0px;}
#wa-row-j17x97io6e4nyo {margin:0px 0px;}
#wa-row-j17x97io6e4nyo>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gtgc0 {margin:0px 0px;}
#wa-row-j3nrn2mh6gtgc0>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gthdc {margin:0px 0px;}
#wa-row-j3nrn2mh6gthdc>div {padding: 0px 0px;}
#wa-row-j3nrn2mh6gtho0 {margin:0px 0px;}
#wa-row-j3nrn2mh6gtho0>div {padding: 0px 0px;}
#wa-row-j3nrn2mx5jq134 {margin:0px 0px;}
#wa-row-j3nrn2mx5jq134>div {padding: 0px 0px;}
#wa-row-j3nrn2mx5t8nf4 {margin:0px 0px;}
#wa-row-j3nrn2mx5t8nf4>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gtgmo {margin:0px 0px;}
#wa-row-j3nrn2mx6gtgmo>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gtgs0 {margin:0px 0px;}
#wa-row-j3nrn2mx6gtgs0>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6gth2o {margin:0px 0px;}
#wa-row-j3nrn2mx6gth2o>div {padding: 0px 0px;}
#wa-row-j3nrn2mx6m6pns {margin:0px 0px;}
#wa-row-j3nrn2mx6m6pns>div {padding: 0px 0px;}
}
