#wa-compbutton-j0zs5g5y7ymads {display:inline-block;padding: 6px 12px;font-size: 14px;line-height:1.428571429;border-radius: 4px;width:auto;color:#ffffff; background-color:#000000; border-color:#000000;}
#wa-compbutton-j0zs5g5y7ymads-halign {text-align:center;}
#wa-compbutton-j0zs5g5y7ymads:hover {background-color:#0856fb;}
#wa-compimage-j0x7aoo55smx2g {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j17r2qkx545pp4 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-j5ju8zz343oes8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;}
#wa-compimage-padwrapper-j0x7aoo55smx2g {padding:0px 90px 0px 90px;}
#wa-compimage-padwrapper-j5ju8zz343oes8 {padding:40px 40px 40px 40px;}
#wa-compsubpage-j0x68hzd53pqa8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#000000;padding:0px 0px 0px 0px;}
#wa-compsubpage-j0x68hzd53pqa8>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j0x68hzd53pqa8>.wa-container-vspacer {height:0px;}
#wa-compsubpage-j0x6cd6l2sm080 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#adadad;padding:0px 0px 0px 0px;}
#wa-compsubpage-j0x6cd6l2sm080>.row>.clearfix {margin-bottom:0px;}
#wa-compsubpage-j0x6cd6l2sm080>.wa-container-vspacer {height:0px;}
#wa-comptext-j0x84hoo5r5qpk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j0zs0zoa85g420 {background-color:rgba(0,0,0,0.501961);border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j5ju8zyh5khvtc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:0px 0px 0px 0px;}
#wa-comptext-j5ju8zz35khlu8 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j5ju8zz35khmgo {background-color:#000000;border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j5ju8zz35khx28 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-j5ju8zz35khxoo {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style:solid; border-color:#000000;padding:10px 10px 10px 10px;}
#wa-comptext-padwrapper-j5ju8zz35khlu8 {padding:10px 0px 0px 0px;}
#wa-container-j5jtz8a9413jbc {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jtz8a9413jbc>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jtz8a9413jbc>.wa-container-vspacer {height:0px;}
#wa-container-j5jtz8b2413kuw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jtz8b2413kuw>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jtz8b2413kuw>.wa-container-vspacer {height:0px;}
#wa-container-j5jtz8b545qkko {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jtz8b545qkko>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jtz8b545qkko>.wa-container-vspacer {height:0px;}
#wa-container-j5jtz8b745qjsw {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jtz8b745qjsw>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jtz8b745qjsw>.wa-container-vspacer {height:0px;}
#wa-container-j5jtz8b745qp7c {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-container-j5jtz8b745qp7c>.row>.clearfix {margin-bottom:0px;}
#wa-container-j5jtz8b745qp7c>.wa-container-vspacer {height:0px;}
#wa-container-wrapper-j5jtz8a9413jbc {background-color:#000000;}
#wa-container-wrapper-j5jtz8b545qkko {background-color:#ffffff;}
#wa-container-wrapper-j5jtz8b745qjsw {background-color:#adadad;}
#wa-container-wrapper-j5jtz8b745qp7c {background-color:#ffffff;}
#wa-row-j0x683hh5o95u8 {margin:0px 0px;}
#wa-row-j0x683hh5o95u8>div {padding: 0px 0px;}
#wa-row-j0x6avwk5o92fk {margin:0px 0px;}
#wa-row-j0x6avwk5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6aw645o90i8 {margin:0px 0px;}
#wa-row-j0x6aw645o90i8>div {padding: 0px 0px;}
#wa-row-j0x6dikg5o92fk {margin:0px 0px;}
#wa-row-j0x6dikg5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6dj8i5o90cw {margin:0px 0px;}
#wa-row-j0x6dj8i5o90cw>div {padding: 0px 0px;}
#wa-row-j0x84ein5lhre8 {margin:0px 0px;}
#wa-row-j0x84ein5lhre8>div {padding: 0px 0px;}
#wa-row-j0x8z9oy4zt23k>.wa-item-rowspacer {height:230px;}
#wa-row-j0x907vg5s8giw>.wa-item-rowspacer {height:20px;}
#wa-row-j0x917xe5n5ks0>.wa-item-rowspacer {height:20px;}
#wa-row-j0zrzuuv6bgcww {margin:0px 0px;}
#wa-row-j0zrzuuv6bgcww>div {padding: 0px 0px;}
#wa-row-j0zrzuuy8khmc {margin:0px 0px;}
#wa-row-j0zrzuuy8khmc>div {padding: 0px 0px;}
#wa-row-j0zs0i9x3ytf0g {margin:0px 0px;}
#wa-row-j0zs0i9x3ytf0g>div {padding: 0px 0px;}
#wa-row-j0zs0ldv3yteio>.wa-item-rowspacer {height:170px;}
#wa-row-j0zs7kxp81za7k>.wa-item-rowspacer {height:20px;}
#wa-row-j128p43h4r6yf4 {margin:0px 0px;}
#wa-row-j128p43h4r6yf4>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489c8w {margin:0px 0px;}
#wa-row-j5ju8zyh489c8w>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489da8 {margin:0px 0px;}
#wa-row-j5ju8zyh489da8>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489gjk {margin:0px 0px;}
#wa-row-j5ju8zyh489gjk>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489by8 {margin:0px 0px;}
#wa-row-j5ju8zz3489by8>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489c3k {margin:0px 0px;}
#wa-row-j5ju8zz3489c3k>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489d4w {margin:0px 0px;}
#wa-row-j5ju8zz3489d4w>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489dvk {margin:0px 0px;}
#wa-row-j5ju8zz3489dvk>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489eww {margin:0px 0px;}
#wa-row-j5ju8zz3489eww>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489f28 {margin:0px 0px;}
#wa-row-j5ju8zz3489f28>div {padding: 0px 0px;}
#wa-sub-container-j132iqyp5hjwds {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyp5hjwds>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyp5hjwds>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyq5hjx5k {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyq5hjx5k>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyq5hjx5k>.wa-container-vspacer {height:0px;}
#wa-sub-container-j132iqyr5hk08o {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j132iqyr5hk08o>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j132iqyr5hk08o>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cw6o6keg {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cw6o6keg>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cw6o6keg>.wa-container-vspacer {height:0px;}
#wa-sub-container-j3nrl7cy6o66ig {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j3nrl7cy6o66ig>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j3nrl7cy6o66ig>.wa-container-vspacer {height:0px;}
#wa-sub-container-j5jtz8b245qnns {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;padding:0px 0px 0px 0px;}
#wa-sub-container-j5jtz8b245qnns>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j5jtz8b245qnns>.wa-container-vspacer {height:0px;}
#wa-sub-container-j5jtz8b545qfy0 {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#ffffff;padding:0px 0px 0px 0px;}
#wa-sub-container-j5jtz8b545qfy0>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j5jtz8b545qfy0>.wa-container-vspacer {height:0px;}
#wa-sub-container-j5jtz8b545qhhk {border-radius:0px 0px 0px 0px;border-width:0px 0px 0px 0px;border-style: solid;border-color:#000000;background-color:#ffffff;padding:0px 0px 0px 30px;}
#wa-sub-container-j5jtz8b545qhhk>.row>.clearfix {margin-bottom:0px;}
#wa-sub-container-j5jtz8b545qhhk>.wa-container-vspacer {height:0px;}
[id^=wa-compmenu-j5ju8zyh5l0034] .dropdown-menu {background-color:#000000;}
[id^=wa-compmenu-j5ju8zyh5l0034] .dropdown-menu > li > a:hover, [id^=wa-compmenu-j5ju8zyh5l0034] .dropdown-menu > li > a:focus {background-color:#f5f5f5;}
[id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default {background-color:#000000; border-color:#000000; border-width:0px; border-radius:4px; min-height:0px;}
[id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-brand, [id^=wa-compmenu-j5ju8zyh5l0034].navbar-nav li a, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav > li > a, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav .open .dropdown-menu > li > a {font-family:Arial, Helvetica, 'Liberation Sans', FreeSans, sans-serif; font-size:14px; color:#ffffff;}
[id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-brand:hover, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav li a:hover, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover {color:#c7c7c7;}
[id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav > .active > a, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav > .active > a:hover, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav > .active > a:focus, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav > .open > a, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav > .open > a:hover, [id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-nav > .open > a:focus {color:#7a7a7a; background-color:#e7e7e7;}
[id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-toggle {background-color:rgba(0,0,0,0.501961) !important; border-color:#000000 !important;}
[id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-toggle .icon-bar {background-color:#888888;}
[id^=wa-compmenu-j5ju8zyh5l0034] .navbar-default .navbar-toggle:active, [id^=wa-compmenu-j5ju8zyh5l0034].navbar-default .navbar-toggle:hover {background-color:#adadad !important;}
[id^=wa-compmenu-j5ju8zyh5l0034] .wa-srch-input {font-size:14px;}
[id^=wa-compmenu-j5ju8zyh5l0034].navbar-fixed-top .navbar {background-color:rgba(0,0,0,0.501961);}
html body {width:100%; height:100%;}
@media (min-width: 768px){
#wa-row-j0x683hh5o95u8 {margin:0px 0px;}
#wa-row-j0x683hh5o95u8>div {padding: 0px 0px;}
#wa-row-j0x6avwk5o92fk {margin:0px 0px;}
#wa-row-j0x6avwk5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6aw645o90i8 {margin:0px 0px;}
#wa-row-j0x6aw645o90i8>div {padding: 0px 0px;}
#wa-row-j0x6dikg5o92fk {margin:0px 0px;}
#wa-row-j0x6dikg5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6dj8i5o90cw {margin:0px 0px;}
#wa-row-j0x6dj8i5o90cw>div {padding: 0px 0px;}
#wa-row-j0x84ein5lhre8 {margin:0px 0px;}
#wa-row-j0x84ein5lhre8>div {padding: 0px 0px;}
#wa-row-j0zrzuuv6bgcww {margin:0px 0px;}
#wa-row-j0zrzuuv6bgcww>div {padding: 0px 0px;}
#wa-row-j0zrzuuy8khmc {margin:0px 0px;}
#wa-row-j0zrzuuy8khmc>div {padding: 0px 0px;}
#wa-row-j0zs0i9x3ytf0g {margin:0px 0px;}
#wa-row-j0zs0i9x3ytf0g>div {padding: 0px 0px;}
#wa-row-j128p43h4r6yf4 {margin:0px 0px;}
#wa-row-j128p43h4r6yf4>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489c8w {margin:0px 0px;}
#wa-row-j5ju8zyh489c8w>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489da8 {margin:0px 0px;}
#wa-row-j5ju8zyh489da8>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489gjk {margin:0px 0px;}
#wa-row-j5ju8zyh489gjk>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489by8 {margin:0px 0px;}
#wa-row-j5ju8zz3489by8>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489c3k {margin:0px 0px;}
#wa-row-j5ju8zz3489c3k>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489d4w {margin:0px 0px;}
#wa-row-j5ju8zz3489d4w>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489dvk {margin:0px 0px;}
#wa-row-j5ju8zz3489dvk>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489eww {margin:0px 0px;}
#wa-row-j5ju8zz3489eww>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489f28 {margin:0px 0px;}
#wa-row-j5ju8zz3489f28>div {padding: 0px 0px;}
}
@media (min-width: 992px){
#wa-row-j0x683hh5o95u8 {margin:0px 0px;}
#wa-row-j0x683hh5o95u8>div {padding: 0px 0px;}
#wa-row-j0x6avwk5o92fk {margin:0px 0px;}
#wa-row-j0x6avwk5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6aw645o90i8 {margin:0px 0px;}
#wa-row-j0x6aw645o90i8>div {padding: 0px 0px;}
#wa-row-j0x6dikg5o92fk {margin:0px 0px;}
#wa-row-j0x6dikg5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6dj8i5o90cw {margin:0px 0px;}
#wa-row-j0x6dj8i5o90cw>div {padding: 0px 0px;}
#wa-row-j0x84ein5lhre8 {margin:0px 0px;}
#wa-row-j0x84ein5lhre8>div {padding: 0px 0px;}
#wa-row-j0zrzuuv6bgcww {margin:0px 0px;}
#wa-row-j0zrzuuv6bgcww>div {padding: 0px 0px;}
#wa-row-j0zrzuuy8khmc {margin:0px 0px;}
#wa-row-j0zrzuuy8khmc>div {padding: 0px 0px;}
#wa-row-j0zs0i9x3ytf0g {margin:0px 0px;}
#wa-row-j0zs0i9x3ytf0g>div {padding: 0px 0px;}
#wa-row-j128p43h4r6yf4 {margin:0px 0px;}
#wa-row-j128p43h4r6yf4>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489c8w {margin:0px 0px;}
#wa-row-j5ju8zyh489c8w>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489da8 {margin:0px 0px;}
#wa-row-j5ju8zyh489da8>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489gjk {margin:0px 0px;}
#wa-row-j5ju8zyh489gjk>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489by8 {margin:0px 0px;}
#wa-row-j5ju8zz3489by8>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489c3k {margin:0px 0px;}
#wa-row-j5ju8zz3489c3k>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489d4w {margin:0px 0px;}
#wa-row-j5ju8zz3489d4w>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489dvk {margin:0px 0px;}
#wa-row-j5ju8zz3489dvk>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489eww {margin:0px 0px;}
#wa-row-j5ju8zz3489eww>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489f28 {margin:0px 0px;}
#wa-row-j5ju8zz3489f28>div {padding: 0px 0px;}
}
@media (min-width: 1200px){
#wa-row-j0x683hh5o95u8 {margin:0px 0px;}
#wa-row-j0x683hh5o95u8>div {padding: 0px 0px;}
#wa-row-j0x6avwk5o92fk {margin:0px 0px;}
#wa-row-j0x6avwk5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6aw645o90i8 {margin:0px 0px;}
#wa-row-j0x6aw645o90i8>div {padding: 0px 0px;}
#wa-row-j0x6dikg5o92fk {margin:0px 0px;}
#wa-row-j0x6dikg5o92fk>div {padding: 0px 0px;}
#wa-row-j0x6dj8i5o90cw {margin:0px 0px;}
#wa-row-j0x6dj8i5o90cw>div {padding: 0px 0px;}
#wa-row-j0x84ein5lhre8 {margin:0px 0px;}
#wa-row-j0x84ein5lhre8>div {padding: 0px 0px;}
#wa-row-j0zrzuuv6bgcww {margin:0px 0px;}
#wa-row-j0zrzuuv6bgcww>div {padding: 0px 0px;}
#wa-row-j0zrzuuy8khmc {margin:0px 0px;}
#wa-row-j0zrzuuy8khmc>div {padding: 0px 0px;}
#wa-row-j0zs0i9x3ytf0g {margin:0px 0px;}
#wa-row-j0zs0i9x3ytf0g>div {padding: 0px 0px;}
#wa-row-j128p43h4r6yf4 {margin:0px 0px;}
#wa-row-j128p43h4r6yf4>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489c8w {margin:0px 0px;}
#wa-row-j5ju8zyh489c8w>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489da8 {margin:0px 0px;}
#wa-row-j5ju8zyh489da8>div {padding: 0px 0px;}
#wa-row-j5ju8zyh489gjk {margin:0px 0px;}
#wa-row-j5ju8zyh489gjk>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489by8 {margin:0px 0px;}
#wa-row-j5ju8zz3489by8>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489c3k {margin:0px 0px;}
#wa-row-j5ju8zz3489c3k>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489d4w {margin:0px 0px;}
#wa-row-j5ju8zz3489d4w>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489dvk {margin:0px 0px;}
#wa-row-j5ju8zz3489dvk>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489eww {margin:0px 0px;}
#wa-row-j5ju8zz3489eww>div {padding: 0px 0px;}
#wa-row-j5ju8zz3489f28 {margin:0px 0px;}
#wa-row-j5ju8zz3489f28>div {padding: 0px 0px;}
}
